@model List<Service.Data.VehicleDto>
@{
}

<h1>Vehicle Makes</h1>

<table class="table">
    <thead>
        <tr>
            <th> Id </a> </th>
            <th> Vehicle Name </a> </th>
            <th> Vehicle Abbreviation </a> </th>
            <th> </th>
        </tr>

    </thead>
    <tbody>
        @foreach(var vehicle in Model)
        {
            <tr>
                <td> @vehicle.Id</td>
                <td> @vehicle.VehicleName</td>
                <td> @vehicle.VehicleAbrv</td>
                <td><a href="VehicleMakes/View/@vehicle.Id">View</a> </td>
            </tr>
        }
    </tbody>



</table>
